/* App Styles */
.App {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  min-height: 100vh;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/* Toggle Sidebar */
body.toggle-sidebar #main,
body.toggle-sidebar #footer {
  margin-left: 0;
}

@media (max-width: 1199px) {
  body.toggle-sidebar .sidebar {
    left: 0;
  }
}
